@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ark-bg text-ark-dark font-mono overflow-x-hidden;
}

/* 屏幕扫描线效果 */
.scanlines {
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0),
    rgba(255,255,255,0) 50%,
    rgba(0,0,0,0.05) 50%,
    rgba(0,0,0,0.05)
  );
  background-size: 100% 4px;
  pointer-events: none;
}